[user]
	name = aiceru
  email = aiceru@gmail.com
[core]
  editor = /usr/bin/vim
  repositoryformatversion = 0
  filemode = false
  bare = false
  logallrefupdates = true
  symlinks = false
  ignorecase = true
  hideDotFiles = dotGitOnly
  packedGitLimit = 256m
  packedGitWindowSize = 256m
  longpaths = true
[alias]
  co = checkout
  cot = checkout --track
  br = branch
  bra = branch -a
  cm = commit
  st = status
  lg = log --branches --remotes --tags --oneline --decorate --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit
  fa = fetch --all --prune
[push]
  default = tracking 
[pull]
  rebase = true
[http]
  postBuffer = 524288000
[pack]
  deltaCacheSize = 256m
  packSizeLimit = 256m
  windowMemory = 1024m
[color]
  branch = auto
  diff = auto
  status = auto
  showbranch = auto
  ui = true
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
#[includeIf "gitdir:D:/Retrica/repos/"]
#  path = D:/Retrica/repos/.gitconfig-retrica
